# Default ignored files\
/shelf/
/sonarlint/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\rdalichamp\Mentoring\poc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
